<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>230912911990-j9u0clmijrdspmfhpg4407vrmvtm47pg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.230912911990-j9u0clmijrdspmfhpg4407vrmvtm47pg</string>
	<key>API_KEY</key>
	<string>AIzaSyAzdPvpKXSy_PB1aoxX9BY55woDcC3Kyz0</string>
	<key>GCM_SENDER_ID</key>
	<string>230912911990</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.brcamobile.BRCAMobile</string>
	<key>PROJECT_ID</key>
	<string>brca-mobile-fcm</string>
	<key>STORAGE_BUCKET</key>
	<string>brca-mobile-fcm.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:230912911990:ios:b63176e7e56dff8c</string>
	<key>DATABASE_URL</key>
	<string>https://brca-mobile-fcm.firebaseio.com</string>
</dict>
</plist>